/* used to controle the primary layout of the website */
html {
    min-height: 100vh;
    min-width: 320px;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

body > * {
    flex: 0 0 auto;
    width: 100%;
}

main {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem 0;
}

.hidden {
    display: none !important;
}

.hilightscore {
    color: yellow;
    font-weight: bolder;
    font-style: oblique;
}