/* Teal color rgb(0, 255, 255) */
/* Aqua color rgba(0, 128, 128, 0.712) */
/* Dark Blue Color rgba(7, 7, 85, 0.856) */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
  background-image:
  linear-gradient(to bottom, rgba(255, 255, 255, 0.384),rgba(7, 7, 85, 0.856)), url("../images/background_art.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
}

/* * {
  box-sizing: border-box;
} */

header {
  /* display: flex; */
  /* justify-content: space-between; */
  max-height: 290px;
}

/* Trick Trivia logo */
header img {
  max-width: 800px;
  max-height: 290px;
  margin-top: 2rem;
  
}


/* Main container */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main .page {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1000px;
}

/* main button, main input[type='button'], main input[type='submit'] {
  padding: 0.75rem 1.5rem;
} */

/* main input[type='text'], main input[type='number'], main select {
  padding: 0.5rem;
} */

/* #landing-page #setup-game-button {
  margin-top: 0.5rem;
} */

/* Let's Play! button --------------------------------------------*/
figure {
  width: 200px;
  height: 60px;
  align-self: center;
  /* margin-bottom: 2rem; */
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
}
figure div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}
figure:hover div {
  transform: rotateX(-90deg);
}
span {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 5px solid rgb(0, 255, 255);
  box-shadow: 0 0 10px white;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 50px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
span:nth-child(1) {
  color:rgb(0, 255, 255);
  background-color:  rgba(7, 7, 85, 0.856);
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);
}
span:nth-child(2) {
  color: rgba(7, 7, 85, 0.856);
  background: rgb(0, 255, 255);
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}
/* Let's Play! button --------------------------------------------*/

#landing-page #show-rules-button {
  position: fixed;
  top: 0.35rem;
  right: 0.35rem;
}

#landing-page #game-rules-model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  max-width: 1000px;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: #555;
  color: #eee;
}

#landing-page #game-rules-model #hide-rules-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  color: inherit;
  font-size: 2rem;
  border: 0;
  cursor: pointer;
}

#landing-page #game-rules-model #hide-rules-button:focus {
  outline: none;
}

#setup-page #back-button {
  position: fixed;
  top: 0.35rem;
  right: 0.35rem;
}

#setup-page #difficulty-options {
  display: flex;
  flex-direction: column;
}

#setup-page #start-game-button, #setup-page #difficulty, #setup-page #question-count {
  margin-top: 0.75rem;
}

#setup-page #start-game-button, #setup-page #question-count-input, #setup-page #category-dropdown {
  width: 100%;
}

#question-page #timer {
  position: fixed;
  top: 0.25rem;
  right: 0.25rem;
}

#question-page #category-span {
  display: flex;
  align-items: center;
}

#question-page #category-icon {
  max-width: 40px;
  max-height: 40px;
}

#question-page #category-display {
  margin-left: 1rem;
  font-size: 2rem;
}

#question-page #difficulty-display {
  display: none;
}

#question-page #question-display {
  margin: 2rem 0;
  font-size: 1.5rem;
}

#question-page #answers-list {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

#question-page #answers-list span {
  display: flex;
  align-items: baseline;
}

#question-page #answers-list span label {
  margin-left: 0.25rem;
}

#question-page #submit-answer-button {
  margin-top: 2rem;
}

#score-page #result-animation-box {
  display: flex;
  justify-content: center;
}

#score-page #result-animation {
  max-width: 100%;
  max-height: 350px;
  border-radius: 1rem;
  border: 2px solid black;
}

#score-page #next-question-timer {
  position: fixed;
  top: 0.25rem;
  right: 0.25rem;
}

#score-page #next-question-button {
  margin-top: 0.5rem;
}

#final-page #final-animation-box {
  display: flex;
  justify-content: center;
}

#final-page #final-animation {
  max-width: 100%;
  max-height: 350px;
  border-radius: 1rem;
  border: 2px solid black;
}

#final-page #final-scores-display {
  font-family: fantasy;
  font-size: 3rem;
  text-align: center;
  color: #2da5f5;
}
