button {
    border-radius: 5px;
    border-color: rgb(144, 47, 255);
    background-color: rgb(45, 155, 60);
    color: rgb(228, 231, 61);
    font-weight: bold;
}

input{
    border-radius: 10px;
}

#stage-1-page{
    margin: auto;
}

#game-rule-text {
    background-color: rgb(81, 107, 41);
    color: white;
    margin-top: 4em;
    width: 70%;
    display: none;
}

#show-rule{
    border: 5px dashed rgb(46, 23, 34);
    border-radius: 10px;
    max-width: 100px;
    
}

#show-rule:hover + div{
    display: block;
}