/* Teal color rgb(0, 255, 255) */
/* Aqua color rgba(0, 128, 128, 0.712) */
/* Dark Blue Color rgba(7, 7, 85, 0.856) */
/* font-family: "Source Sans Pro", sans-serif; */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
  background-image:
  linear-gradient(to bottom, rgba(255, 255, 255, 0.384),rgba(7, 7, 85, 0.856)), url("../images/background_art.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
}

/* Header max height */
header {
  max-height: 290px;
}

/* Trick Trivia logo */
header img {
  max-width: 800px;
  max-height: 290px;
  margin-top: 2rem;
}

/* Main container */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* A reuseable class for any page */
main .page {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1000px;
  padding: 1rem 0rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bolder;
  color: white;
  line-height: 2.3rem;
}

/* A reuseable header for any class using page */
main .page h2 {
  font-family: "Bangers", cursive;
  color: rgba(7, 7, 85, 0.856);
  -webkit-text-stroke: 0.5px rgba(0, 255, 255, 0.603);
  font-size: 50px;
  font-weight: bolder;
  margin: 2rem 0;
}

/* Screen Name input */
main input[type='text'] {
  max-width: 300px;
  border-radius: 10px 0 0 10px;
  background-color: white;
  color: rgba(7, 7, 85, 0.856);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  margin-top: 2rem;
  box-shadow: 0 0 10px white;
}

/* Screen Name hover */
main input:hover {
  border: 1px solid rgb(0, 255, 255);
  box-shadow: none;
}

/* Screen Name focus */
main input:focus {
  outline: 0;
  border: 2px solid  rgb(0, 255, 255);
}

/* Setup Game Let's Play! button --------------------------------------------*/
.prism-button {
  width: 200px;
  height: 60px;
  align-self: center;
  margin-top: 3rem;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
  background: transparent;
  border: none;
  outline: none;
}
.prism-button div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}
.prism-button:hover div {
  transform: rotateX(-90deg);
}
.prism-button span{
  width: 100%;
  height: 100%;
  position: absolute;
  border: 5px solid rgb(0, 255, 255);
  box-shadow: 0 0 10px white;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 50px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.prism-button span:nth-child(1) {
  color:rgb(0, 255, 255);
  background-color:  rgba(7, 7, 85, 0.856);
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);
}
.prism-button span:nth-child(2) {
  color: rgba(7, 7, 85, 0.856);
  background: rgb(0, 255, 255);
  font-weight: bolder;
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}
/* End of Setup Game Let's Play! button --------------------------------------------*/

/* Button that shows the rules on the initial landing page */
#landing-page #show-rules-button {
  position: relative;
  top: -0.27rem;
  right: 0.1rem;
  display: inline-block;
  padding: 0px 15px;
  font-size: 21.5px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color:  rgb(0, 255, 255);
  background-color:rgba(7, 7, 85, 0.856);
  border: 5px solid  rgb(0, 255, 255);
  border-radius: 0 10px 10px 0;
  box-shadow: 0 0 10px white;
}

/* Rules modal */
#landing-page #game-rules-model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 1000px;
  height: 90vh;
  max-height: 1000px;
  padding: 0.5rem;
}

#game-rules-inner-modal {
  background-color: rgb(0, 128, 128);
  border: 10px solid rgb(0, 255, 255);
  box-shadow: 0 0 10px white;
  color: white;
  line-height: 1.5rem;
}

/* Rules modal button */
#landing-page #game-rules-model #hide-rules-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  border: 0;
  cursor: pointer;
}

/* Rules modal button on focus */
#landing-page #game-rules-model #hide-rules-button:focus {
  outline: none;
}
/* End of landing page --------------------------------------------*/

/* Setup page container */
#setup-page {
  width: 90vw;
  max-width: 1000px;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 2rem;
  background-color: rgba(0, 128, 128, 0.849);
  border: 10px solid rgb(0, 255, 255);
  box-shadow: 0 0 10px white;
}

/* Setup page buttons (Start Game, Back) */
#setup-page button,
#score-page button,
#end-game-button,
#end-game-button2,
#see-leaderboard-button {
  background-color: rgba(7, 7, 85, 0.856);
  color: rgb(0, 255, 255);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  margin-top: 2rem;
  padding: 0.11rem 1rem;
  border: 5px solid rgb(0, 255, 255);
  box-shadow: 0 0 10px white;
}

/* Setup page buttons (Start Game, Back) hover */
#setup-page button:hover {
  font-size: medium;
}

/* Setup page buttons (Start Game, Back) focus */
#setup-page button:focus {
  outline: 0;
  border: 2px solid rgb(0, 255, 255);
}

#setup-page #category-dropdown {
  max-width: 300px;
  border-radius: 10px;
  background-color: white;
  color: rgba(7, 7, 85, 0.856);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

#setup-page #question-count-input {
  width: 265px;
  border-radius: 10px;
  background-color: white;
  color: rgba(7, 7, 85, 0.856);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

/* #setup-page #difficulty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; 
} */

/* Flexing difficulty options */
#setup-page #difficulty-options {
  display: flex;
  flex-direction: column;
  line-height: 1.8rem;
}

/* #setup-page #difficulty-options span {
  display: flex;
  justify-content: space-between;
  align-content: center; 
  flex-direction: row;
  align-self: center;
} */

/* Top margin for the difficulty container and question count */
#setup-page #difficulty, #setup-page #question-count {
  margin-top: 0.75rem;
}

/* End of setup page --------------------------------------------*/

/* Question page box */
#question-page {
  height: 100%;
}

/* Timer */
#question-page #timer {
  position: absolute;
  top: 0.25rem;
  right: 1rem;
}

/* Outter category box */
#question-page #category-span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Inner category box */
#question-page .catergory-block{
  width: 50vw;
  max-width: 400px;
  border-width: 6px;
  border-style: groove;
  border-radius: 25px;
  border-color: aqua;
  background-image: linear-gradient(to right, orange,yellow,lightblue);
}

/* Category icon */
#question-page #category-icon {
  max-width: 35px;
  max-height: 35px;
}

/* Category type */
#question-page #category-display {
  margin-left: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: crimson;
}

/* Category difficulty level */
#question-page #difficulty-display {
  display: none;
}

/* Display question box */
#question-page .gradient-border{
  width: 90vw;
  max-width: 800px;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Railway';
  margin: 2rem auto;
  padding-top: 0rem;
  --borderWidth: 10px;
  background: #000000d9;
  position: relative;
  border-radius: var(--borderWidth);
}

/* Questions counter */
#question-page #question-count-box {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

/* Question h3 */
#question-page .gradient-border p{
  font-size: 2.5rem;
  margin: 0;
  border-bottom: 1px solid white;
  padding: 1rem 0;
}

/* Score counter */
#question-page .score-text {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

/* Question text */
#question-page #question-display {
  padding: 0 10px;
  font-size: 1.5rem;
  margin-top: 3rem;
}

/* Question box after */
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Answer List box*/
#question-page #answers-list {
  width: 90vw;
  max-width: 800px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* Answer list buttons */
#question-page #answers-list button {
  width: 400px;
  max-width: 300px;
  font-family: "Segoe UI",Arial,sans-serif;
  padding: 1rem;
  background-color: rgba(7, 7, 85, 0.856);
  color: rgb(0, 255, 255);
  font-weight: bold;
  margin: 1rem 0;
  padding: 0.11rem 1rem;
  border: 5px solid rgb(0, 255, 255);
  box-shadow: 0 0 10px white;
}

#question-page #answers-list span {
  display: flex;
  align-items: baseline;
}

#question-page #answers-list span label {
  margin-left: 0.25rem;
}

#question-page #submit-answer-button {
  margin: 2rem auto;
  font-size: 1.5rem;
  width: 15rem;
}
/* End of question page --------------------------------------------*/

#score-page #result-animation-box {
  display: flex;
  justify-content: center;
}

#score-page #result-animation {
  max-width: 100%;
  max-height: 350px;
  border-radius: 1rem;
  border: 2px solid black;
}

#score-page #next-question-timer {
  position: fixed;
  top: 0.25rem;
  right: 0.25rem;
}

#score-page #next-question-button {
  margin: 2rem auto;
  font-size: 1.5rem;
  width: 15rem;
}
/* End of score page --------------------------------------------*/

#final-page #final-animation-box {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 90.3vw;
  max-width: 800px;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.500);
}

#final-page #final-animation {
  width: 90vw;
  max-width: 800px;
  max-height: 350px;
  border-radius: 1rem;
  border: 5px solid rgb(0, 255, 255);
  box-shadow: 0 0 10px white;
}

#end-game-button-box {
  align-self: center;
  margin-top: 2rem;
}

/* #final-page #end-game-button {
  background-color: rgba(7, 7, 85, 0.856);
  color: rgb(0, 255, 255);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  align-self: center;
  padding: 0rem 1rem;
  border: 5px solid rgb(0, 255, 255);
  box-shadow: 0 0 10px white;
} */

#final-scores-display-box {
  display: flex;
  flex-direction: row;
  align-self: center;
  position: relative;
}

#final-page #final-scores-display {
  font-family: fantasy;
  font-size: 3rem;
  text-align: center;
  color: rgb(0, 255, 255);
  position: absolute;
  top: 0.8rem;
  right: -3rem;
}

#congrats {
  margin-top: 4rem;
}

#end-game-button,
#end-game-button2{
  margin: 2rem auto;
  font-size: 1.5rem;
  width: 15rem;
}

#see-leaderboard-button{
  margin: 0 auto;
  font-size: 1.5rem;
  width: 15rem;
}

#final-page h3 {
  font-size: 2.5rem;
  font-weight: bolder;
  background: -webkit-linear-gradient(red, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#leaderboard-table {
  font-size: 1.5rem;
  font-family: fantasy;
  width: 40rem;
  margin: 0 auto;
}

#leaderboard-table td{
  width: 50%;
  border-bottom-style: solid;
  border-color: darkorange;
}